# Other
.DS_Store
*.mwb.bak
.env

# Dependency directories
node_modules

# Generated
/build
/data

# Secrets
app.yaml
/config/development.*
/config/test.*
/config/secrets

# Editors / IDEs
.vscode
/.idea

# Jest
coverage/*
